<!-- techwaveapp/templates/services.html -->
{% extends 'base.html' %}
{% load static %}
{% block styles %}
  <link rel="stylesheet" type="text/css" href="{% static 'techwaveapp/css/services.css' %}">
{% endblock %}

{% block title %}Services{% endblock %}

{% block content %}
  <h2>Our Services</h2>
  <ul>
    {% for service in services %}
      <li><strong>{{ service.name }}</strong> - {{ service.description }}</li>
    {% endfor %}
    <li><strong>Training Programs</strong> - Explore our training programs <a href="{% url 'training_programs' %}">here</a></li>
  </ul>
  <a href="{% url 'contact' %}" class="contact-button">Get in touch with us</a>
{% endblock %}

