/* static/techwaveapp/css/home.css */

#home-content {
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 168px 20px; /* Adjust the top and bottom padding to increase the apparent height */
    text-align: center;
    background-color: rgba(21, 21, 21, 0.5);
}

h2 {
    color: #fff;
}
p{
    color: #fff;
}
