/* static/techwaveapp/css/ticket_list.css */

#content {
    text-align: center;
    padding: 20px;
}

h2 {
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

li {
    margin: 10px;
}

a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#create-ticket-link {
    display: inline-block;
    text-align: center;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #0066cc;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;  
}

  